#login-box{
    width: 30%;
    height: auto;
    margin: 10% auto 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 50px;
}

#login-box h1{
    color: #ff9900;
}
#login-box .form{
    margin-top: 40px;
}


#login-box .form .item input{
    width: 200px;
    font-size: 20px;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#login-box button{
    margin-top: 15px;
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    border: 0;
    background: #FF9900;
    border-radius: 15px;
}

#signup button{
    margin-top: 15px;
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    border: 0;
    background: #FF9900;
    border-radius: 15px;
}

body{
    background: url("c2c8e66c9827a5cff1e082c13e9d424f.jpeg") no-repeat center fixed;
    background-size: cover;




}